.side-bar
  .side-bar__header
    .side-bar__header__username
      .side-bar__header__username__userselect
        masa
      .side-bar__header__username__userserect-icon
        <i class="far fa-edit"></i>
        = icon('fas', 'cog')
  .side-bar__grouplist
    .side-bar__grouplistname
      techcamp
    .side-bar__grouplistmassage
      まだメッセージがありません

      
  
-# %head
-# %body
-#   .Main
-#   .Notification
-#   　.alert
-#     %p.UserName hogehoge
-#     %ul.Main__menu
-#       %li.Main__new-group NEW GROUP
-#       %li#featured.Main__editUser EDIT USER
-#   .Form
-#     %form.Form__contents
-#       .Form__inputBox
-#         %input.Form__inputText{"placeholder": "type a message", "type": "text"}
-#       %input.Form__submitBtn{"name": "commit", "type": "submit", "value": "Send"}