.side-bar
  .side-bar__header
    .side-bar__header__username
      .side-bar__header__username__userselect
        masa
      .side-bar__header__username__userserect-icon
        <i class="far fa-edit"></i>
        = icon('fas', 'cog')
  .side-bar__grouplist
    .side-bar__grouplistname
      techcamp
    .side-bar__grouplistmassage
      まだメッセージがありません

      
  
